// Page Transitions

.page_enter {
  opacity: 0;
}
.page_exit {
  opacity: 1;
}
.page_enter_active {
  opacity: 1;
}
.page_exit_active {
  opacity: 0;
}
.page_enter_active,
.page_exit_active {
  transition: opacity 500ms;
}
