
:root {
  --max-width: 1100px;
  --border-radius: 12px;

  --adjust-curve: cubic-bezier(0.7, 0.03, 0.3, 0.97);
  --burger-curve: cubic-bezier(0.9, 0.03, 0.1, 0.97);
  --enter-curve: cubic-bezier(0.05, 0.4, 0.14, 0.99);
  --hide-curve: cubic-bezier(0.78, 0.04, 0.6, 0.89);

  /*
  Font family variables defined through @next/fonts import
    Playfair Display: --playfair-font
    Source Sans Pro: --source-sans-font
  */

  /* 
  COLORS
   */

  /* Tokens */
  --primary-20: #00382c;
  --primary-40: #006b56;
  --primary-60: #00A485;
  --primary-80: #5DDBB9;
  --primary-100: #FFF;

  --secondary-20: #1d352d;
  --secondary-40: #4b635b;
  --secondary-80: #b2ccc2;
  --secondary-90: #CEE9DD;
  --secondary-100: #FFF;

  --tertiary-20: #0E3446;
  --tertiary-40: #416276;
  --tertiary-80: #A8CBE2;
  --tertiary-100: #FFF;

  --neutral-10: #191C1B;
  --neutral-80: #C4C7C4;
  --neutral-90: #E1E3E0;
  --neutral-99: #FBFDFA;

  --neutral-variant-30: #3F4945;
  --neutral-variant-50: #6F7975;
  --neutral-variant-60: #89938E;
  --neutral-variant-80: #BFC9C3;
  --neutral-variant-90: #DBE5DF;


  /* Theme */
  --primary: var(--primary-40);
  --on-primary: var(--primary-100);
  --secondary: var(--secondary-40);
  --on-secondary: var(--secondary-100);
  --tertiary: var(--tertiary-40);
  --on-tertiary: var(--tertiary-100);
  --background: var(--neutral-99);
  --on-background: var(--neutral-10);
  --surface: var(--neutral-99);
  --on-surface: var(--neutral-10);
  --surface-variant: var(--neutral-variant-90);
  --on-surface-variant: var(--neutral-variant-30);
  --outline: var(--neutral-variant-50);

  --card-overlay-start: rgba(75, 99, 91, 0.94);
  --card-overlay-end: rgba(75, 99, 91, 0.3);
  --card-overlay: linear-gradient(var(--card-overlay-start), var(--card-overlay-start), var(--card-overlay-end));
  
  --surface1: #EEF6F2;
  --surface2: #E7F1ED;
  --surface3: #DFEDE8;
  --surface4: #DDEBE6;
  --surface5: #D8E9E3;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Theme */
    --primary: var(--primary-80);
    --on-primary: var(--primary-20);
    --secondary: var(--secondary-80);
    --on-secondary: var(--secondary-20);
    --tertiary: var(--tertiary-80);
    --on-tertiary: var(--tertiary-20);
    --background: var(--neutral-10);
    --on-background: var(--neutral-90);
    --surface: var(--neutral-10);
    --on-surface: var(--neutral-80);
    --surface-variant: var(--neutral-variant-30);
    --on-surface-variant: var(--neutral-variant-80);
    --outline: var(--neutral-variant-60);

    --card-overlay-start: rgba(178, 204, 194, 0.94);
    --card-overlay-end: rgba(178, 204, 194, 0.3);

    --surface1: linear-gradient(0deg, rgba(93, 219, 185, 0.05), rgba(93, 219, 185, 0.05));
    --surface2: linear-gradient(0deg, rgba(93, 219, 185, 0.08), rgba(93, 219, 185, 0.08));
    --surface3: linear-gradient(0deg, rgba(93, 219, 185, 0.11), rgba(93, 219, 185, 0.11));
    --surface4: linear-gradient(0deg, rgba(93, 219, 185, 0.12), rgba(93, 219, 185, 0.12));
    --surface5: linear-gradient(0deg, rgba(93, 219, 185, 0.14), rgba(93, 219, 185, 0.14));

    --surface1: #1C2623;
    --surface2: #1E2B28;
    --surface3: #20312C;
    --surface4: #21332E;
    --surface5: #233731;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
