
.btn_reset {
  display: inline-block;
  width: auto;
  background: none;
}

.primary_button {
  composes: btn_reset;

  padding: 12px 32px;
  font-size: 1rem;
  color: var(--on-primary);
  background-color: var(--primary);
  border: 1px solid var(--primary);
  transition:
    background-color 0.4s,
    color 0.4s;

  &:hover {
    background-color: var(--on-primary);
    color: var(--primary);
  }
}

.secondary_button {
  composes: btn_reset;

  padding: 12px 32px;
  font-size: 1rem;
  color: var(--primary);
  border: 1px solid var(--primary);
  transition:
    background-color 0.4s,
    color 0.4s;

  &:hover {
    background-color: var(--primary);
    color: var(--on-primary);
  }
}

.tertiary_button {
  composes: btn_reset;

  margin-bottom: 32px;
  padding: 0 1px 2px;
  font-size: 1rem;
  color: var(--primary);
  border: 0;
  border-bottom: 1px solid transparent;
  transition: border-color 0.5s;

  &:hover {
    border-bottom-color: var(--primary);
  }
}