
@use '@/styles/shared/breakpoints' as bp;


.page_project {
  padding-top: 92px;
  padding-bottom: 80px;
  background-image: var(--surface2);
}

.project_grid {
  composes: wrapper_grid from '@/styles/shared/layout.module.scss';
  align-content: start;
  row-gap: 0;
}

.text_column {
  grid-column: 1 / -1;

  @include bp.tabletMedia {
    grid-column: 1 / span 5;
  }
}

.image_column {
  grid-column: 1 / -1;
  white-space: nowrap;

  margin-bottom: 32px;
  padding-bottom: 12px;
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-color: var(--secondary) var(--primary-60);
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    height: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--primary-60);
    border-radius: 8px;
  }
  &::-webkit-scrollbar-track {
    background-color: var(--surface);
    border-radius: 8px;
  }

  .project_image {
    display: inline-block;
    height: clamp(200px, 35vh, 500px);
    width: auto;
    margin-right: 24px;
    box-shadow: 0 3px 8px var(--neutral-variant-60);
  }

  @include bp.tabletMedia {
    grid-column: 7 / -1;
    grid-row: 1 / span 3;
    order: 3;
    overflow-x: visible;
    overflow-y: visible;

    .project_image {
      display: block;
      height: auto;
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 24px;
    }
  }
}

.project_section {
  margin-bottom: 32px;

  h3 {
    margin-bottom: 12px;
  }
}


.back_icon {
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 4px;
}
.project_header {
  margin-bottom: 24px;

  h4 {
    margin-bottom: 0;
  }
  h1 {
    margin-bottom: 32px;
  }

  @include bp.tabletMedia {
    margin-bottom: 48px;
  }
}

.header_details {
  margin: 0 0 8px;
  color: var(--tertiary);
}

.secondary_button {
  display: inline-block;
  width: auto;
  background: none;

  padding: 12px 32px;
  font-size: 1rem;
  color: var(--primary);
  border: 1px solid var(--primary);
  transition:
    background-color 0.4s,
    color 0.4s;

  &:hover {
    background-color: var(--primary);
    color: var(--on-primary);
  }
}

.tertiary_button {
  display: inline-block;
  width: auto;
  background: none;

  margin-bottom: 32px;
  padding: 0 1px 2px;
  font-size: 1rem;
  color: var(--primary);
  border: 0;
  border-bottom: 1px solid transparent;
  transition: border-color 0.5s;

  &:hover {
    border-bottom-color: var(--primary);
  }
}
