@use '@/styles/shared/breakpoints' as bp;

.hero {
  height: clamp(500px, 100vh, 110vh);
  display: flex;
  align-items: center;

  h1 {
    position: relative;
    margin-bottom: 48px;
    padding-bottom: 48px;
    font-size: clamp(3rem, 10vh, 5rem);

    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 8px;
      width: 72px;
      background-color: var(--tertiary);
    }
  }
  h3 {
    transition: transform 0.3s cubic-bezier(0.5, 0.29, 0.16, 0.97);

    strong {
      color: var(--primary-60);
    }
  }

  @include bp.desktopMedia {
    display: block;
    height: 180vh;
    padding-bottom: 15vh;

    h3 {
      white-space: nowrap;
    }
  }
}

.hero_text_container {
  width: 100%;

  @include bp.desktopMedia {
    position: sticky;
    top: 30vh;
    width: 100vw;
    overflow: hidden;
  }
}

.hero_wrapper {
  composes: wrapper from '@/styles/shared/layout.module.scss';

}


.section_featured_work {
  composes: section from '@/styles/shared/layout.module.scss';
  background-color: var(--surface1);

  @include bp.desktopMedia {
    background-color: transparent;
  }

  .feature_work_btn {
    padding: 50px 0 20px;
    text-align: center;
  }
}

.section_contact {
  composes: section from '@/styles/shared/layout.module.scss';

  .contact_item {
    margin: 0 0 60px;

    &:last-child {
      margin: 0;
    }

    a {
      color: var(--primary);
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
  .contact_label {
    margin: 0 0 8px;
    color: var(--tertiary);
    font-size: 0.875rem;
  }
  .contact_icon {
    display: inline-block;
    height: 50px;
    width: auto;
    margin-right: 40px;

    svg {
      display: block;
      height: 100%;
      width: auto;
      transition: fill 0.5s;
    }

    &:hover {
      svg {
        fill: var(--primary-60);
      }
    }
  }
}