
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;

  h1 {
    position: relative;
    margin-bottom: 48px;
    padding-bottom: 48px;
    font-size: clamp(3rem, 10vh, 5rem);

    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 8px;
      width: 72px;
      background-color: var(--tertiary);
    }
  }
}