@use '@/styles/shared/breakpoints' as bp;

.page_home {
  position: relative;
  background-color: var(--background);
}

.hero {
  position: relative;
  z-index: 0;
  // display: flex;
  // align-items: center;
  // height: 100vh;
  // height: clamp(500px, 100vh, 110vh);

  @include bp.desktopMedia {
    display: block;
    height: 180vh;
    // padding-bottom: 15vh;
  }
}

.hero_text_container {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;

  @include bp.desktopMedia {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
}

.hero_wrapper {
  composes: wrapper from '@/styles/shared/layout.module.scss';
  position: relative;
  z-index: 1;

  h1 {
    position: relative;
    margin-bottom: 48px;
    padding-bottom: 48px;
    font-size: clamp(3rem, 10vh, 5rem);

    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 8px;
      width: 72px;
      background-color: var(--tertiary);
    }
  }
  h3 {
    // transition: transform 0.3s cubic-bezier(0.5, 0.29, 0.16, 0.97);

    strong {
      color: var(--primary-60);
    }
  }

  @include bp.desktopMedia {
    h3 {
      white-space: nowrap;
    }
  }
}

.hero_bg_spot {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 0;
  display: inline-block;
  height: 10vw;
  width: 10vw;
  transform: translate(-50%, -50%);
  color: var(--surface3);
  background-color: currentColor;
  border-radius: 50%;
  box-shadow: 0 0 50px 50px currentColor;
  pointer-events: none;

  &:after {
    content: '';
    position: absolute;
    top: 80%;
    left: 50%;
    display: inline-block;
    height: 80%;
    width: 80%;
    border-radius: 50%;
    background-color: currentColor;
    box-shadow: 0 0 50px 50px currentColor;
  }
}


.section_featured_work {
  composes: section from '@/styles/shared/layout.module.scss';
  position: relative;
  z-index: 1;
  background-color: var(--surface1);

  @include bp.desktopMedia {
    background-color: transparent;
  }

  .feature_work_btn {
    padding: 50px 0 20px;
    text-align: center;
  }
}

.section_contact {
  composes: section from '@/styles/shared/layout.module.scss';
  position: relative;
  z-index: 1;

  .contact_item {
    margin: 0 0 60px;

    &:last-child {
      margin: 0;
    }

    a {
      color: var(--primary);
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
  .contact_label {
    margin: 0 0 8px;
    color: var(--tertiary);
    font-size: 0.875rem;
  }
  .contact_icon {
    display: inline-block;
    height: 50px;
    width: auto;
    margin-right: 40px;

    svg {
      display: block;
      height: 100%;
      width: auto;
      transition: fill 0.5s;
    }

    &:hover {
      svg {
        fill: var(--primary-60);
      }
    }
  }
}