@use '@/styles/shared/breakpoints' as bp;

.featured_grid {
  composes: grid from '@/styles/shared/layout.module.scss';
  display: block;

  @include bp.tabletMedia {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 248px;
    perspective: 2000px;
  }
}
